body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background: #4caf50;
  color: white;
  padding: 10px 0;
  text-align: center;
}

.input_section {
  padding: 20px;
  text-align: center;
}

#progress_section {
  margin: 20px auto;
  text-align: center;
}

#buttons_section {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.output {
  display: none;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  margin: 20px auto;
}
